.searchBar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 353px;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background-color: #d9d9d9;

  & input {
    border: none;
    background: none;
    width: 300px;
    outline: none;
  }

  & button {
    padding: 2px;
    width: 43px;
    height: 21px;
    border: none;
    border-radius: 20px;
    background: #29c16e;
  }
}
