@media (min-width: 780px) {

  .filter-buttons-container {
    margin-top: 13px;
    display: flex;
    height: 100px;
    margin-left: 11%;
    & .button-filter {
      background-color: #29c16e;
      display: flex;
      border: none;
      border-radius: 10px 10px 0 0;
      width: 170px;
      height: 50px;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.267px;
      text-transform: capitalize;
      margin-left: 10px;
    }
    & button:hover {
      background-color: #34d116;
    }
    & p:hover {
      color: #000;
    }
  }
  
}


@media (max-width: 800px) {
  .filter-buttons-container {
    margin-top: 13px;
    display: flex;
    gap: 10px;
    & .button-filter {
      background-color: #29c16e;
      display: flex;
      border: none;
      border-radius: 10px;
      width: 98px;
      height: 31px;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.267px;
      text-transform: capitalize;
      margin-left: 10px;
    }
    & button:hover {
      background-color: #34d116;
    }
    & p:hover {
      color: #000;
    }
  }
  
}

